#contato {
    display: flex;
     text-align: center; 
     align-items: stretch;
     font-family: 'Poppins', sans-serif;
     padding: 28px 0; 
     width: 80%;
     margin: auto;
     margin-bottom:30px ;
}



#botoes a {
       font-size: 20px;
       text-decoration: none;
       margin: 30px;
       transition: 0.5s;
       font-weight:600;
}
#botoes a:hover {
       color: #E38D00;
}
#botoes .link { 
       background-color: #e38c00a6;
       display: inline-block;
       color: #01260f;
       padding: 10px 19px;
       border-radius: 7px;
       box-shadow: 4px 4px 10px #0016098e;
}
#botoes .link:hover { 
       background-color:#004119;
       color: #FFF6E8;
}

#botoes .link i {
    color: #004119;
}