#ensinos {
    display: flex;
     text-align: center; 
     align-items: stretch;
     font-family: 'Poppins', sans-serif;
     padding: 28px 0; 
     width: 80%;
     margin: auto;
}



#turmas a {
       
       font-size: 22px;
       text-decoration: none;
       margin: 30px;
       transition: 0.5s;
       font-weight:600;
}
#turmas a:hover {
       color: #E38D00;
}
#turmas .botao-turmas { 
       background-color: #e38c00a6;
       display: inline-block;
       color: #00230ec5;
       padding: 10px 19px;
       border-radius: 7px;
       box-shadow: 4px 4px 10px #0016098e;
}
#turmas .botao-turmas:hover { 
       background-color:#004119;
       color:#FFF6E8 ;
}